/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Science+Gothic:wght@100..900&display=swap');

/* Variables */

:root {
  --black: hsl(240 18% 10%);
  --darkGrey: hsl(240 13% 14%);
  --lightText: hsl(0 0% 93%);
  --accent1: hsl(262, 52%, 56%);
  --accent2: hsl(154 77% 40%);
  --smSpacer: .5rem;
  --mdSpacer: 1rem;
  --lgSpacer: 2rem;
  --xlSpacer: 4rem;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-family: "Audiowide", sans-serif;
  line-height: 120%;
}

p {
  font-family: "Science Gothic", sans-serif;
  line-height: 150%;
  text-wrap: pretty;
  max-width: 75ch;
}

/* Generel reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: "Science Gothic", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

/* Dark mode user agent styles */
html {
  color-scheme: dark light;
}

body {
  min-height: 100svh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
  }
}



/* Header */
header {
  background-image: linear-gradient(90deg, var(--black), var(--darkGrey));
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--mdSpacer);

  .logo h2 {
    font-size: 2rem;
    color: var(--lightText);
    font-style: italic;
    color: var(--accent2)
  }

  nav {
    ul {
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;
      gap: var(--smSpacer);
      align-items: center;

    }

    a {
      display: block;
      font-size: 1.2rem;
      color: var(--lightText);
      text-decoration: none;
    }

    li:last-child a {
      background: var(--accent1);
      padding: 1rem 2rem;
      border-radius: 6px;
      /*  */
      /* This is the contact "button" */
      /*  */
    }
  }

}

main {

  h1 {
    text-align: center;
    font-size: 3rem;
    margin-block: var(--xlSpacer);
  }

  section.players {
    display: flex;
    max-width: 1000px;
    margin: 2rem auto;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    position: relative;
    padding: var(--mdSpacer);


    article {
      flex-shrink: 0;
      flex-basis: 300px;
      scroll-snap-align: start;
      background: hsl(from var(--bg) h s l / .5) url("../img/ssspiral.svg");
      background-repeat: no-repeat;
      background-position: 50% 30px;
      background-size: 100%;
      /*  */
      /* We probably want to alter te properties/values above on :hover */
      /*  */
      border-radius: 6px;
      overflow: hidden;

      img {
        max-width: 80%;
        margin: 4rem auto 0 auto;
        /*  */
        /* This is player image */
        /*  */
      }

      .playername {
        position: absolute;
        bottom: 0;
        width: 300px;
        text-align: center;
        color: white;
        background: linear-gradient(hsl(from var(--bg) h s l / .01), hsl(from var(--bg) h s l / .6));
        padding-block: var(--mdSpacer);
        margin: 0;

        span {
          font-weight: bold;
          display: block;
          font-size: 1.1rem;
        }
      }
    }
  }

  h2.news {
    text-align: center;
    font-size: 2rem;
    margin-block: 6rem;
  }


  section.filler {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: var(--lgSpacer) auto;
    gap: var(--xlSpacer);
    padding: var(--mdSpacer);

    article {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--lgSpacer);

      &:nth-child(odd) {

        h3,
        p {

          grid-column: 2 / 3;
        }

        img {
          grid-column: 1 / 2;

        }
      }
    }

    h3 {
      font-size: 2rem;
      ;
    }

    h3,
    p {
      grid-column: 1 / 2;
    }

    img {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.arrow {
  width: 30px;
  margin: 1rem auto;
  font-size: 1.5rem;

  a {
    color: inherit;
    display: block;
    padding: var(--smSpacer);
  }

  p {
    width: 120px;
    transform: translateX(-50%);
  }
}